:root {
    --background-color: #282828;
    --shadow-color: #1d2021;
    --foreground-color: #3c3836;
    --text-color: #ebdbb2;
    --text-soft-color: #a89984;
    --section-border-color: #98971a;
    --highlight-color: #fe8019;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    
    font-family: 'Ubuntu Mono';
    font-size: 17px;
    word-wrap: break-word;

    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
}

footer {
    color: var(--text-soft-color);
    text-align: center;
}

h1 {
    margin: 0;
}

.main {
    background-color: var(--foreground-color);
    margin: 1em;
    padding: 1em;
    max-width: 40em;

    box-shadow: 0em 1em 5em 0.1em var(--shadow-color);
}

.section {
    border: 0.15em solid var(--section-border-color);
    margin: 1em;
    padding: 0rem 0.5em 0rem 0.5em;
}

.highlight {
    font-weight: bold;
    color: var(--highlight-color);
}
